*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #222;
}

.card{
    background-color:rgba(147, 201, 218, 0.952);
    width: 90%;
    max-width: 350px;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
    

}
 .search{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .search input{
    background-color:#ebfffc ;
    color: #555;
    padding: 10px 25px;
    height: 55px;
    border-radius: 27px;
    border: 0;
    outline: 0;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;

 }

 .search button{
    background-color:#ebfffc;
    border: 0;
    outline: 0;
    border-radius:100px ;
    width: 18px;
    height: 18px;
    cursor: pointer;
 }
 
 .search button img{
    width:20px ;
 }

 .weather-icon{
   width: 150px;
   margin-top: 20px;
 }
 .weather h1{
   font-size: 50px;
   font-weight: 500;
 }

 .weather h2{
   font-size: 40px;
   font-weight: 400;
   margin-top:-10px ;
 }
.details{
display: flex;
align-items: center;
justify-content: space-between;

}
.col1{
   display: flex;
   align-items: center;
   text-align: left;
}
.col1 img{
   width: 30px;
   margin-right: 10px;
}
#hum{
   display: grid;
}

.col2{
   display: flex;
   align-items: center;
   text-align: left;
}
.col2 img{
   width: 30px;
   margin-right: 10px;
}

#wind{
   display: grid;
}
.humidity, .wind{
   font-size: 20px;
   margin-top: -5px;
}
.weather{
   display:none ;
}
.error{
   color: red;
   font-size: 15px;
   font-weight: bold;
   margin-top: 15px;
   text-align: left;
   display:none ;
}